.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.checkoutProductInfo{
    padding-left: 20px;
}
.checkoutProductInfo > button{
    background:#f0c14b;
    /* border: 1px solid; */
    border-radius: 5px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    background-color: none;
    padding: 7px;
    border: none;
}

.checkoutProductImage{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProductRating{
    display: flex;
}
.checkoutProductTitle{
    font-size: 17px;
    font-weight: 800;
}